<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSON</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href = "/static/css/style.css">
    <script defer src = "/static/js/script.js"></script>
</head>
<body>
    <div>
        <div>
           <a href="/" class="btn">Назад</a>
        </div>
        <div>
            {% for i in storages %}
                {% for key, value in i.items %}
                    {% for key_new, value_new in value.items %}
                        {{key_new}}={{value_new}}<br>
                     {% endfor %}<br>
                {% endfor %}<br>
            {% endfor %}
        </div>
    </div>
</body>